<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Recipe Hub</h1>
        <hr>
        <div class="recipe-container">
            <div class="recipe" th:each="recipe : ${recipes}">
                <h2><a th:href="@{/recipe/{id}(id=${recipe.id})}" th:text="${recipe.title}">Title</a></h2>
                <p th:text="${recipe.body}">Body Text</p>
                <br>
            </div>
        </div>
    </div>
</body>
</html>