<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>RecipeHub :: Recipe</title>
</head>

<body>

    <header>
        <nav class="flex justify-around items-center bg-orange-300 pt-8 pb-8">
            <h1 class="text-3xl font-black"><a th:href="@{/}">Recipe Hub</a></h1>
            <ul sec:authorize="!isAuthenticated()" class="flex justify-between items-center gap-10 text-xl font-bold">
                <li><a th:href="@{/login}">Log In</a> </li>
                <li><a th:href="@{/register}">Register</a></li>
            </ul>
            <div sec:authorize="isAuthenticated()" class="flex justify-between items-center gap-10 text-xl font-bold">
                <form th:action="@{/logout}" method="POST"
                    class="flex justify-between items-center gap-10 text-xl font-bold">
                    <div>
                        <label>Hi, <span sec:authentication="name">Username</span></label>
                    </div>
                    <button type="submit">Logout</button>
                </form>
                <a th:href="@{/recipe/new}">
                    <button>Post New Recipe</button>
                </a>
            </div>
        </nav>
    </header>

    <main class="container m-20 flex flex-col justify-center items-start">
        <form action="#" class="flex flex-col justify-around items-start gap-6 w-full" th:action="@{/recipe/new}"
            th:object="${recipe}" method="POST">
            <input type="hidden" th:field="*{account}">
            <h2 class="text-xl font-extrabold">Write New Recipe Here</h2>

            <label for="new-recipe-title" class="text-lg font-semibold bg-orange-200">Enter Title</label>
            <input id="new-recipe-title" class="w-96 h-10 bg-orange-100 text-lg font-bold p-8" type="text" th:field="*{title}" placeholder="Title">
            <label for="new-recipe-body" class="text-lg font-semibold bg-orange-200 mt-5">Enter Recipe Content</label>
            <textarea id="new-recipe-body" class="w-full h-full bg-orange-100 p-8" th:field="*{body}" placeholder="Recipe Body"></textarea>

            <button type="submit" class="bg-orange-400 p-3 text-white font-extrabold">Publish Recipe</button>
        </form>
        <div class="recipe">
        </div>
    </main>
</body>

</html>