<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>RecipeHub :: Recipe</title>
</head>

<body>

    <header>
        <nav class="flex justify-around items-center bg-orange-300 pt-8 pb-8">
            <h1 class="text-3xl font-black"><a th:href="@{/}">Recipe Hub</a></h1>
            <ul sec:authorize="!isAuthenticated()" class="flex justify-between items-center gap-10 text-xl font-bold">
                <li><a th:href="@{/login}">Log In</a> </li>
                <li><a th:href="@{/register}">Register</a></li>
            </ul>
            <div sec:authorize="isAuthenticated()" class="flex justify-between items-center gap-10 text-xl font-bold">
                <form th:action="@{/logout}" method="POST"
                    class="flex justify-between items-center gap-10 text-xl font-bold">
                    <div>
                        <label>Hi, <span sec:authentication="name">Username</span></label>
                    </div>
                    <button type="submit">Logout</button>
                </form>
                <a th:href="@{/recipe/new}">
                    <button>Post New Recipe</button>
                </a>
            </div>
        </nav>
    </header>

    <main class="container m-20 flex flex-col justify-center items-start">
        <ul class="flex justify-start gap-6 mb-10" sec:authorize="isAuthenticated()">
            <li th:if="${userCheck or isAdmin}"><a th:href="@{'/recipe/' + ${recipe.id} + '/edit'}">
                <button class="bg-orange-400 p-3 text-white font-extrabold">Edit</button>
            </a></li>
            <li th:if="${isAdmin}" ><a th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">
                <button class="bg-orange-400 p-3 text-white font-extrabold">Delete</button>
            </a></li>
        </ul>
        <div class="recipe w-full">
            <h2 class="bg-orange-200 text-2xl font-bold pt-5 px-8 py-8" th:text="${recipe.title}">Title</h2>
            <h5 class="bg-orange-200 text-lg font-medium pb-5 px-8 py-8"
                th:text="'Written By : '+ ${recipe.account.name}">Account Name</h5>
            <p class="bg-orange-100 text-base font-normal pt-10 pb-10 px-8 py-8" th:text="${recipe.body}">Body Text</p>
        </div>
    </main>
</body>

</html>